@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
    background-color: #ffd5e2;
}

body {
    font-family: 'Tektur', sans-serif;
    font-weight: 400;
    color: #e7014c;
    max-width: 100vw;
    overflow-x: hidden;
}

header a {
    text-decoration: none;
}

/* Navigation */

#logo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 512px;
    margin-top: 30px;
    color: #e7014c;
}

#logo {
    background: url(../images/does-it-match-logo.png) no-repeat center center;
    height: 100%;
    width: 100%;
}

#homepage-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
}

#how-to-play {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 90px;
}

#play-game {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-top: 90px;
}

#homepage-buttons a {
    text-decoration: none;
    color: #e7014c;
}

/* Homepage */

#home-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    margin-top: 10px;
    color: #e7014c;
}