@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500&display=swap');

* {
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Tektur', sans-serif;
    font-weight: 400;
    color: #e7014c;
    max-width: 100vw;
    overflow-x: hidden;
}

/* Navigation */

#logo {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
    margin-top: 10px;
    text-decoration: none;
}

#homepage-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

#how-to-play {
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
}

#play-game {
    display: flex;
    justify-content: center;
    width: 50%;
    text-decoration: none;
}